@inject IJSRuntime JS
<MatDialog @bind-IsOpen="@isConfirm">
    <MatDialogTitle>
        <MatIconButton Type="button" OnClick="@(() => cerrarConfirm.InvokeAsync("cerrando"))" Class="btn"
                       Icon="close" Style="position: absolute; right: 0;"></MatIconButton>
        <br />
        @modalTitle
    </MatDialogTitle>
    <MatDialogContent>
        @modalBody
    </MatDialogContent>
    <MatDialogActions>
        <Theme themeColor="Theme.ThemeColor.success">
            <Body>
                <MatButton OnClick="@(() => onConfirm.InvokeAsync("cerrando"))" Style="margin-right:10px"
                           Disabled="@(btnConfirm.isEnabled ? false : true)" Class="btn-lg" Unelevated="true"
                           Type="@btnConfirm.attribute" Icon="@btnConfirm.icon">@btnConfirm.name</MatButton>
            </Body>

        </Theme>
        <Theme themeColor="Theme.ThemeColor.danger">
            <Body>
                <MatButton OnClick="@(() => cerrarConfirm.InvokeAsync("Cerrando"))"
                                   Disabled="@(btnCancel.isEnabled ? false : true)" Class="btn-lg" Unelevated="true"
                                   Type="@btnCancel.attribute" Icon="@btnCancel.icon">@btnCancel.name</MatButton>
            </Body>
        </Theme>

            @modalFooter
        </MatDialogActions>
    </MatDialog>
@code {
    //Cerrar Modal
    [Parameter]
    public EventCallback<string> cerrarConfirm { get; set; }
    [Parameter]
    public EventCallback<string> onConfirm { get; set; }
    [Parameter]
    public bool isConfirm { get; set; }
    [Parameter]
    public RenderFragment modalBody { get; set; }
    [Parameter]
    public RenderFragment modalFooter { get; set; }
    [Parameter]
    public RenderFragment modalTitle { get; set; }
    [Parameter]
    public ConfirmationModelView modelConfirmation { get; set; }
    ButtonModelView btnCancel;
    ButtonModelView btnConfirm;
    protected override async Task OnInitializedAsync()
    {
        btnCancel = new ButtonModelView { attribute = "button", isEnabled = true, name = "Cancelar", icon = "cancel" };
        btnConfirm = new ButtonModelView { attribute = "button", isEnabled = true, name = "Confirmar", icon = "done_outline" };
    }
}
